<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ title }} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<nav class="nav nav-tabs">
            <a class="nav-link" href="../index/" tabindex="-1">Главная</a>
            <a class="nav-link" href="../books/">Книги</a>
            <a class="nav-link" href="../publishers/">Издательства</a>
            <a class="nav-link" href="../admin/p_library/publishinghouse/add/">Добавить издательство</a>
            <a class="nav-link" href="../admin/p_library/book/add/">Добавить книгу</a>
            <a class="nav-link" href="../author/create">Добавить автора</a>
            <a class="nav-link" href="../author_book/create_many">Добавить несколько книг и авторов</a>
        </nav>
 {% block content %}{% endblock %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>